
.tabsdemoStaticTabs {
  /*
 * Animation styles
 */ }
  .tabsdemoStaticTabs #tab1-content {
    background-color: #3F51B5; }
  .tabsdemoStaticTabs #tab2-content {
    background-color: #673AB7; }
  .tabsdemoStaticTabs #tab3-content {
    background-color: #00796B; }
  .tabsdemoStaticTabs .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0px solid black;
    height: 300px;
    overflow: hidden; }
  .tabsdemoStaticTabs [role="tabpanel"] {
    color: white;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active, .tabsdemoStaticTabs [role="tabpanel"].ng-enter {
    top: -300px; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave, .tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave {
    z-index: 100; }
  .tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
    padding: 20px; }
  .tabsdemoStaticTabs .after-tabs-area {
    padding: 25px; }
  .tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
  .tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px; }

.face {
  border: 0px solid #ddd;
  width: 48px;
  margin: 16px; }
.progressLineardemoBasicUsage body {
  padding: 20px; }
  .progressLineardemoBasicUsage h4 {
    margin: 10px 0; }
    .progressLineardemoBasicUsage md-progress-linear {
      padding-top: 10px;
      margin-bottom: 20px; }
.dialogdemoBasicUsage .full {
  width: 100%;
  height: 100%; }
  .dialogdemoBasicUsage .gap {
    width: 50px; }
    .dialogdemoBasicUsage .md-subheader {
      background-color: #dcedc8;
      margin: 0px; }
      .dialogdemoBasicUsage h2.md-subheader {
        margin: 0px;
        margin-left: -24px;
        margin-right: -24px;
        margin-top: -24px; }
        .dialogdemoBasicUsage h2.md-subheader.md-sticky-clone {
          margin-right: 0px;
          margin-top: 0px;
          box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); }
          .dialogdemoBasicUsage h2 .md-subheader-content {
            padding-left: 10px; }
