.products-grid {
  text-align: center;
  margin: 0px !important; }

.product-info {
  font-size: 12px;
  line-height: 13px;
  text-align: left;
  display: inline-block; }

.thumbnail {
  width: 70%;
  max-width: 110px;
  margin: 0px 0px 20px 0px; }


.product-savings {
  max-width: 400px;
  font-size: 13px;
  color: #148f31;
  font-weight: 600;
  line-height: 14px;
  display: inline-block; }

.product-price {
  font-weight: 800; }

.products-block {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px; }
