<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Refurbishy - Apple Refurbished products </title>
   <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="description" content="">
  <meta name="google-site-verification" content="z8rBQ0PbWMpNOwMHnzR8NVyBtc9XaW8LWfjFhM6ro40" />
   <!-- Foundation CSS -->
  <!--<link rel="stylesheet" href="vendor/foundation/css/normalize.css" />
  <link rel="stylesheet" href="vendor/foundation/css/foundation.css" />-->
  <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
  <link rel="stylesheet" href="/vendor/angular-material/angular-material.css">
  <link rel="stylesheet" href="/vendor/angular-material/themes/blue-theme.css">
  <!--<link rel="stylesheet" type="text/css" href="vendor/ngprogress/ngProgress.css" />-->


  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="AppCtrl">
  <!-- HEADER TOOL BAR -->
  <header>
    <md-toolbar scroll-shrink layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleMenu()">Menu</md-button>
        <h3>
           <span class="md-flex"><span class="f16" ng-click="showAdvanced()"><span class="flag {{lang}}"></span></span>Refurbishy</span>
        </h3>
      </div>
    </md-toolbar>
  </header>

  <!-- CONTENT -->
  <div layout="vertical" flex>
        <!-- LEFT SIDEBAR -->
        <md-sidenav class="md-sidenav-left" component-id="left" md-is-locked-open="$media('min-width: 800px')">
          <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">{{'product category'|translate}}</h1>
          </md-toolbar>
          <md-content ng-controller="LeftSideCtrl" class="md-padding" flex layout="vertical">
            <!-- SIDEBAR CONTENT COMES HERE -->
          </md-content>
        </md-sidenav>


      <!-- MAIN SECTION -->
        <md-content layout="horizontal" layout-align="center">
          <div ui-view></div>
        </md-content>


        <md-tabs>
          <md-tab ng-repeat="device in devices | filter:searchFilter | unique:'label'" ng-model="devices" ng-click="onSelectItem(device.label,$index)" label="{{device.label}}" ng-disabled="$index == selectedIndex">
            <div class="demo-tab tab{{$index%4}}" layout="column" layout-fill layout-align="space-around center">
            </div>
          </md-tab>
        </md-tabs>
</div>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->



  <!-- Foundation JS dependencies -->
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <!--
  <script src="vendor/foundation/js/vendor/modernizr.js"></script>
  <script src="vendor/foundation/js/foundation.min.js"></script> -->

  <!-- Other JS plugins can be included here -->
  <!--<script src="vendor/foundation/js/foundation/foundation.offcanvas.js"></script>-->

  <!-- Angular JS dependencies -->
  <script src="/vendor/angular/angular.js"></script>
  <script src="/vendor/angular-aria/angular-aria.js"></script>
  <script src="/vendor/angular-animate/angular-animate.js"></script>
  <script src="/vendor/hammerjs/hammer.js"></script>
  <script src="/vendor/angular-material/angular-material.js"></script>
  <script src="/vendor/angular-gettext/dist/angular-gettext.min.js"></script>
  <script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/vendor/angular-ui-utils/ui-utils.min.js"></script>
  <script src="/vendor/angular-messages/angular-messages.min.js"></script>





  <!--<script src="vendor/ngprogress/build/ngProgress.min.js"></script>-->


  <!-- Angular App JS-->
  <script src="dist/js/dist.js"></script>

  <script src="translate/translations.js"></script>
  <script src="vendor/angular-google-analytics/src/angular-google-analytics.js"></script>
</body>
</html>
